extends ../layout


block content
  .page-header
    h3  in_project.title

  ul    
    li= 'Date Started: ' + in_project.date_started
    li= 'Term: ' + in_project.term
    li= 'Tags: ' + in_project.tags
    li= 'Description: ' + in_project.user_project_description
    li= 'Started by: ' + in_project.user_leader
    li= 'Members involved: ' + in_names    


  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
        
    .form-group
      label.col-sm-3.control-label(for='join') Join this project?
      .col-sm-7
        input.form-control(type='checkbox', name='join', id='join', placeholder='join')      

    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='enter joining preference')
          i.fa.fa-user-plus
          | Want to join?